
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Barlow:wght@600&family=Dancing+Script&family=Fraunces:ital,wght@0,700;1,900&family=Karma:wght@300&family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Barlow:wght@400&family=Dancing+Script&family=Fraunces:ital,wght@0,700;1,900&family=Karma:wght@300&family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Barlow:wght@900&family=Dancing+Script&family=Fraunces:ital,wght@0,700;1,900&family=Karma:wght@300&family=Kumbh+Sans:wght@400;700&display=swap');


/* Declaration of variables in the root element 
using the :root selector.

N/B: In HTML, the root element is always the html element */


:root{
    /* color variables */
    --Soft-red: hsl(7, 99%, 70%);
    --learn-more-soft-red: hsla(7, 99%, 70%, 0.3);
    --Yellow: hsl(51, 100%, 49%);
    --learn-more-yellow: hsla(51, 100%, 49%, 0.3);
    --graphic-design-color: hsl(167, 40%, 24%);
    --photography-color: hsl(198, 62%, 26%);
    --footer-color: hsl(168, 34%, 41%);
    --footer-bg-color: hsla(168, 60%, 45%, 0.493);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --floral-white: rgba(255, 250, 240, 0.733);
    /* font variables */

    --header-font: 'Fraunces', serif;
    --body-font: 'Barlow', sans-serif;
}




body{

    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;   
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
        
    /* overflow: hidden; */
    
}

header{
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.nav-bar{
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 4%;
   

}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links{
    list-style-type: none;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
}
.nav_links li a:hover{
    color:rgb(129, 173, 211)
}
button{
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background:  #7bd3ff;
    color: white;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 60px;
}
.arrowicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45vh;
}

.headers{
    font-family: var(--header-font);
}

/* grid styling */

.main-grid{
    display: grid;
}
.grid-imgs{
    width: 100%;
    height: 100%;
}
.main-rows{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: var(--floral-white);
}
.articles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2vmax;
    margin:0 auto;
    width: 60%;
   
}
.article-headers{
    color: var(--Very-dark-desaturated-blue);
}
.article-txt{
    line-height: 1.3rem;
    font-family: var(--body-font);
    font-weight: 510;
    color: var(--Dark-grayish-blue);
    font-size: .9rem;
}
.learn-more-link{
    display: grid;
    justify-items: center;
    width: max-content;
    color: var(--Very-dark-desaturated-blue);
    font-family: var(--header-font);
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration-line: none;
    
    
    
}
.learn-more-decoration{

    height: .6rem;
    width: 110%;
    transform: translateY(-.45rem);
    border-radius: .5rem;
    transition: .2s ease-in-out;
}
.yellow{
    background-color: var(--learn-more-yellow);
}
.yellow:hover{
    background-color: var(--Yellow);
    transition: .2s ease-in-out;    
}
.pink{
    background-color: var(--learn-more-soft-red);
}
.pink:hover{
    background-color: var(red);
    transition: .2s ease-in-out;
}

.article, .grid-imgs{
    height: clamp(18rem, 35vmax, 27rem);
}